services:
  traefik:
    image: traefik:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/traefik_static_template.yml:/etc/traefik/traefik_static_template.yml:ro
      - ./traefik/traefik_dynamic.yml:${TRAEFIK_DYNAMIC_CONF}:ro
      - ./traefik/entrypoint.sh:/entrypoint.sh:ro
      - ./traefik/logs:/logs
      - /etc/localtime:/etc/localtime:ro
      - traefik_certs:/acme
    environment:
      - LOG_LEVEL=info # Increasing logs (default is warning)
      - DEBUG_MODE=false
      - DOMAIN
      - LETSENCRYPT_EMAIL
      - TRAEFIK_DYNAMIC_CONF
      - OVH_ENDPOINT=ovh-eu
      - OVH_APPLICATION_KEY
      - OVH_APPLICATION_SECRET
      - OVH_CONSUMER_KEY
    ports:
      - 80:80
      - 443:443
    extra_hosts:
      - "host:host-gateway"
    labels:
      traefik.enable: true
      traefik.http.middlewares.auth.basicAuth.users: ${TRAEFIK_ADMIN_TOKEN}
      traefik.http.routers.traefik.service: api@internal
      traefik.http.routers.traefik.middlewares: auth,errp-redirect@file
      traefik.http.routers.traefik.tls.certResolver: letsencrypt
      traefik.http.routers.traefik.tls.domains[0].main: "${DOMAIN}"
      traefik.http.routers.traefik.tls.domains[0].sans: "*.${DOMAIN}"
    depends_on:
      cs:
        condition: service_started
      errp:
        condition: service_healthy

  glances:
    image: nicolargo/glances:latest-full
    volumes:
      - ./glances/glances.conf:/etc/glances/glances.conf:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/localtime:/etc/localtime:ro
    environment:
      - GLANCES_OPT=--export mqtt
    pid: host

  portainer:
    image: portainer/portainer-ce:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    labels:
      traefik.enable: true
      traefik.http.services.portainer.loadbalancer.server.port: 9000
      traefik.http.routers.portainer.middlewares: errp-redirect@file
    command: ["--admin-password", "${PORTAINER_ADMIN_PASSWORD}"]
    profiles:
      - monit

  ha:
    image: ghcr.io/home-assistant/home-assistant:latest
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./ha/config:/config
    network_mode: host # Only for Linux, usefull for MDNS discovery
    cap_add:
      - NET_ADMIN
      - NET_RAW
    environment:
      - LOCAL_IP
      - EXTERNAL_URL=https://ha.${DOMAIN}
    labels:
      traefik.enable: true
      traefik.http.services.ha.loadbalancer.server.url: http://host:8123
      traefik.http.routers.ha.middlewares: errp-redirect@file
    depends_on:
      - mosquitto

  z2m:
    image: koenkk/zigbee2mqtt
    volumes:
      - ./z2m/data:/app/data
    devices:
      - /dev/serial/by-id/${ZIGBEE_USB}:/dev/ttyUSB0
    environment:
      - ZIGBEE2MQTT_CONFIG_ADVANCED_LOG_LEVEL=warning # Decreasing logs (default is info)
    labels:
      traefik.enable: true
      traefik.http.routers.z2m.middlewares: auth,errp-redirect@file
      traefik.http.services.z2m.loadbalancer.server.port: 8080
    depends_on:
      - mosquitto

  mosquitto:
    image: eclipse-mosquitto
    volumes:
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - 127.0.0.1:1883:1883 # Necessary for HA, which is not on the same network

  vw:
    image: vaultwarden/server:latest
    volumes:
      - vw_data:/data
      - /etc/localtime:/etc/localtime:ro
    env_file: ./vw/.env # Static configuration
    environment: # Dynamic configuration
      - DOMAIN=https://vw.${DOMAIN}
      - ADMIN_TOKEN=${VW_ADMIN_TOKEN}
      - PUSH_INSTALLATION_ID
      - PUSH_INSTALLATION_KEY
    healthcheck:
      start_period: 5s
    labels:
      traefik.enable: true
      traefik.http.routers.vw.middlewares: secure-headers@file

  errp:
    image: ghcr.io/tarampampam/error-pages:latest
    environment:
      - TEMPLATE_NAME=win98 #cats,win98,shuffle,connection
    labels:
      traefik.enable: true
      traefik.http.routers.errp.middlewares: errp-redirect@file
      # Fallback router
      traefik.http.routers.errp.rule: HostRegexp(`.+`)
      traefik.http.routers.errp.priority: 10
      traefik.http.services.errp.loadbalancer.server.port: 8080

  simcom:
    build: ./simcom
    volumes:
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket
      - ./simcom/src:/app
    devices:
      - /dev/serial/by-id/${SIMCOM_DONGLE}:/dev/ttyUSB1
    depends_on:
      - mosquitto

  frigate:
    image: ghcr.io/blakeblackshear/frigate:stable
    stop_grace_period: 30s # Frigate is long to quit
    shm_size: "256mb"
    privileged: true # Necessary for GPU acceleration
    extra_hosts:
      - "camera-1:${CAM1_IP}"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./frigate/config:/config
      - ./frigate/media:/media/frigate
      - type: tmpfs # Optional: 1GB of memory, reduces SSD/SD Card wear
        target: /tmp/cache
        tmpfs:
          size: 1000000000
    ports:
      - "127.0.0.1:5000:5000" # Dangerous internal API
      - "127.0.0.1:8554:8554" # RTSP from go2rtc
      - "127.0.0.1:8555:8555" # WebRTC TCP
      - "127.0.0.1:8555:8555/udp" # WebRTC UDP
    labels:
      traefik.enable: true
      traefik.http.routers.frigate.middlewares: errp-redirect@file
      traefik.http.services.frigate.loadbalancer.server.port: 8971
    environment:
      - FRIGATE_CAM1_USER=${CAM1_USER}
      - FRIGATE_CAM1_PASSWORD=${CAM1_PASSWORD}
    depends_on:
      - mosquitto

  grdf:
    image: ssenart/gazpar2mqtt:latest
    volumes:
      - ./grdf/log:/app/log
    environment:
      - GRDF_USERNAME
      - GRDF_PASSWORD
      - GRDF_PCE_IDENTIFIER
      - MQTT_BROKER=mosquitto
    depends_on:
      - mosquitto

  grafana:
    image: grafana/grafana:latest
    volumes:
      - grafana_data:/var/lib/grafana
    labels:
      traefik.enable: true
      traefik.http.routers.grafana.middlewares: errp-redirect@file
      traefik.http.services.grafana.loadbalancer.server.port: 3000

  loki:
    image: grafana/loki
    volumes:
      - loki_data:/loki
      - ./loki/config.yaml:/etc/loki/local-config.yaml:ro

  promtail:
    image: grafana/promtail:latest
    volumes:
      - ./traefik/logs/:/var/log:ro
      - ./promtail/config.yml:/etc/promtail/config.yml:ro

  cs:
    image: crowdsecurity/crowdsec:latest-debian
    volumes:
      - crowdsec_data:/var/lib/crowdsec/data
      - ./cs/acquis.yaml:/etc/crowdsec/acquis.yaml:ro
      # Logs
      - ./traefik/logs:/logs/traefik:ro
      - /var/log/journal:/run/log/journal:ro
    environment:
      - COLLECTIONS=crowdsecurity/linux crowdsecurity/traefik crowdsecurity/sshd

volumes:
  vw_data:
  portainer_data:
  traefik_certs:
  loki_data:
  grafana_data:
  crowdsec_data:

networks:
  default:
    driver: bridge
    ipam:
      config:
        - subnet: ${LOCAL_IP}
