[Unit]
Description=Serveur perso
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=<REPO_PATH>
ExecStart=docker compose up -d --build

[Install]
WantedBy=multi-user.target